@model IEnumerable<Sunddk.Models.MealPlan>

@{
    ViewBag.Title = "List";
    string email = @ViewBag.Email;
}

<h2>Kostplaner</h2>
@Styles.Render("~/Content/User.css")

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxCalories)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxCalories)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MealPlanId)
        </td>
        <td>
            @Html.ActionLink("Se", "Categories", new { MealPlanId = item.MealPlanId, Email = ViewBag.Email }, new { @class = "btn-admin btn-default" })
        </td>
    </tr>
}
</table>*@

<div id="mealFeed">
    @foreach (var item in Model) {
        <div class="meal img-rounded">
            @*<div class="img-meal">
                    <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcT1BQ46blKGyc9u11cBzk8cB0nzvYimfBMCKtewcTwLRjGhhJ1j" alt="" />
                </div>*@
            <div class="meal-info">
                <div style="float:left; margin-left: 10px; position: relative; display: block; clear: both;">
                    <h2 style="color:#ffffff">@Html.DisplayFor(modelItem => item.Name)</h2>
                </div>
                <div style="float:left; margin-left: 10px; position: relative; display: block; clear: both;">
                    <p style="color:#ffffff">@Html.DisplayFor(modelItem => item.Description)</p>
                </div>
                <div style="float: left; position: absolute; top: 0px; right: 0px; margin-top: 10px; margin-right: 10px; border-style: solid; border-color: #000000; border-width: 2px;">
                    <div style="float:left; margin: 5px 5px 0px 5px; position: relative; display: inline-block;">
                        <p style="color:#ffffff">@Html.DisplayNameFor(model => model.MaxCalories): @Html.DisplayFor(modelItem => item.MaxCalories)</p>
                    </div>
                </div>
                <div style="float: left; position: absolute; bottom: 0px; right: 0px; margin-bottom: 10px; margin-right: 10px;">
                    @Html.ActionLink("Se", "Categories", new { MealPlanId = item.MealPlanId, Email = ViewBag.Email }, new { @class = "btn-admin btn-default" })
                </div>
            </div>
        </div>
    }
</div>

@using (Html.BeginForm("Done", "User", FormMethod.Get, new { @class = "form-horizontal", role = "form" })) { 
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.Hidden("Email", email)
            <div style="right: 0px; margin-right: 10px; margin-top: 10px; position: absolute;">
                <input type="submit" value="Done" class="btn btn-default" /> @*Det skal laves sådan at når man trykker done så opretter den selv en ny userMealPlan hvor den tilføjer de meals man har lagt i session og herefter kobler mealplanene til personen*@
            </div>
        </div>
    </div>
}

@*<div id="mealPlanFeed">
    <div class="mealPlan img-rounded">
        <div class="img-mealPlan">
            <img src="~/Content/Images/sund_dklogo.jpg" alt="" />
        </div>
        <div class="mealPlan-info">
            <h3>Name</h3>
            <h4>Max Calories</h4>
            <p>Description</p>
        </div>
        <div class="btn-bottom">
            @Html.ActionLink("Vælg", "", "", new { @class = "btn btn-default" })
        </div>
    </div>
    <div class="mealPlan img-rounded">
        <div class="img-mealPlan">
            <img src="~/Content/Images/sund_dklogo.jpg" alt="" />
        </div>
        <div class="btn-bottom">
            @Html.ActionLink("Vælg", "", "", new { @class = "btn btn-default" })
        </div>
    </div>
    <div class="mealPlan img-rounded">
        <div class="img-mealPlan">
            <img src="~/Content/Images/sund_dklogo.jpg" alt="" />
        </div>
        <div class="btn-bottom">
            @Html.ActionLink("Vælg", "", "", new { @class = "btn btn-default" })
        </div>
    </div>
    <div class="mealPlan img-rounded">
        <div class="img-mealPlan">
            <img src="~/Content/Images/sund_dklogo.jpg" alt="" />
        </div>
        <div class="btn-bottom">
            @Html.ActionLink("Vælg", "", "", new { @class = "btn btn-default" })
        </div>
    </div>
    <div class="mealPlan img-rounded">
        <div class="img-mealPlan">
            <img src="~/Content/Images/sund_dklogo.jpg" alt="" />
        </div>
        <div class="btn-bottom">
            @Html.ActionLink("Vælg", "", "", new { @class = "btn btn-default" })
        </div>
    </div>
    <div class="mealPlan img-rounded">
        <div class="img-mealPlan">
            <img src="~/Content/Images/sund_dklogo.jpg" alt="" />
        </div>
        <div class="btn-bottom">
            @Html.ActionLink("Vælg", "", "", new { @class = "btn btn-default" })
        </div>
    </div>
</div>*@