@model IEnumerable<Sunddk.Models.MealPlan>

@{
    ViewBag.Title = "List";
    string email = @ViewBag.Email;
}

<h2>List</h2>
@Styles.Render("~/Content/User.css")
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxCalories)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxCalories)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MealPlanId)
        </td>
        <td>
            @Html.ActionLink("Se", "Categories", new { MealPlanId = item.MealPlanId, Email = ViewBag.Email }, new { @class = "btn-admin btn-default" })
        </td>
    </tr>
}

</table>

@using (Html.BeginForm("Done", "User", FormMethod.Get, new { @class = "form-horizontal", role = "form" })) { 
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.Hidden("Email", email)
            <div>
                <input type="submit" value="Done" class="btn btn-default" /> @*Det skal laves sådan at når man trykker done så opretter den selv en ny userMealPlan hvor den tilføjer de meals man har lagt i session og herefter kobler mealplanene til personen*@
            </div>
        </div>
    </div>
}

<div id="mealPlanFeed">
    <div class="mealPlan img-rounded">
        <div class="img-mealPlan">
            <img src="~/Content/Images/sund_dklogo.jpg" alt="" />
        </div>
        <div class="mealPlan-info">
            <h3>Name</h3>
            <h4>Max Calories</h4>
            <p>Description</p>
        </div>
        <div class="btn-bottom">
            @Html.ActionLink("Vælg", "", "", new { @class = "btn btn-default" })
        </div>
    </div>
    <div class="mealPlan img-rounded">
        <div class="img-mealPlan">
            <img src="~/Content/Images/sund_dklogo.jpg" alt="" />
        </div>
        <div class="btn-bottom">
            @Html.ActionLink("Vælg", "", "", new { @class = "btn btn-default" })
        </div>
    </div>
    <div class="mealPlan img-rounded">
        <div class="img-mealPlan">
            <img src="~/Content/Images/sund_dklogo.jpg" alt="" />
        </div>
        <div class="btn-bottom">
            @Html.ActionLink("Vælg", "", "", new { @class = "btn btn-default" })
        </div>
    </div>
    <div class="mealPlan img-rounded">
        <div class="img-mealPlan">
            <img src="~/Content/Images/sund_dklogo.jpg" alt="" />
        </div>
        <div class="btn-bottom">
            @Html.ActionLink("Vælg", "", "", new { @class = "btn btn-default" })
        </div>
    </div>
    <div class="mealPlan img-rounded">
        <div class="img-mealPlan">
            <img src="~/Content/Images/sund_dklogo.jpg" alt="" />
        </div>
        <div class="btn-bottom">
            @Html.ActionLink("Vælg", "", "", new { @class = "btn btn-default" })
        </div>
    </div>
    <div class="mealPlan img-rounded">
        <div class="img-mealPlan">
            <img src="~/Content/Images/sund_dklogo.jpg" alt="" />
        </div>
        <div class="btn-bottom">
            @Html.ActionLink("Vælg", "", "", new { @class = "btn btn-default" })
        </div>
    </div>
</div>
