@model IEnumerable<Sunddk.Models.Meal>

@{
    ViewBag.Title = ViewBag.Type;
    int MealPlanId = 0;
    foreach (var m in Model) {
        MealPlanId = m.MealPlansId[0];
    }
}

<h2>@ViewBag.Type</h2>

<p>
    @Html.ActionLink("Back to Categories", "Categories", new { MealPlanId = MealPlanId, Email = @ViewBag.Email})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Calories)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calories)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                <div>
                    <a data-meal-id="@item.MealId" data-person-id="@ViewBag.Email" class="btn-admin btn-default btn-add-to-basket">Add to basket</a>
                </div>
                @*@Html.ActionLink("Vælg", "AddToNewUserMealPlan", new { MealId = item.MealId })*@
                @*@Html.ActionLink("Details", "Details", new { id=item.MealPlanId }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.MealPlanId })*@
            </td>
        </tr>
    }

</table>

@section scripts{
    <script>

        (function($) {

            $('.btn-add-to-basket').on('click', function () {

                var $this = $(this);
                var mealId = $this.data('meal-id');
                var email = $this.data('person-id');

                var poster = $.ajax({
                    url: '/User/AddtoBasket',
                    type: 'post',
                    data: {
                        mealId: mealId,
                        email: email
                    }
                });

                poster.done(function() {
                    alert('meal: ' + mealId + ' was added to basket');
                });

                poster.fail(function() {
                    alert('Could not add to basket');
                });

                poster.always(function() {
                    console.log("always happening :)");
                });

            });

        }(jQuery));

    </script>
}


