@model IEnumerable<Sunddk.Models.Meal>

@{
    ViewBag.Title = ViewBag.Type;
    int MealPlanId = 0;
    foreach (var m in Model) {
        MealPlanId = m.MealPlansId[0];
    }
}

<h2>@ViewBag.Type</h2>

<p>
    @Html.ActionLink("Back to Categories", "Categories", new { MealPlanId = MealPlanId})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Calories)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calories)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @*@Html.ActionLink("Vælg", "AddToNewUserMealPlan", new { MealId = item.MealId })*@
                @*@Html.ActionLink("Details", "Details", new { id=item.MealPlanId }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.MealPlanId })*@
            </td>
        </tr>
    }

</table>


